<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>HOME</title>
    <%-include('head.ejs')%>
</head>
<body>
<%- include('header.ejs')%>


<section class="banner-section bg_img" data-background="./assets/images/banner/banner-bg-1.png" style="background-image: url(&quot;./assets/images/banner/banner-bg-1.png&quot;);">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
                <div class="banner-content cl-white">
                    <h5 class="cate">Next Generation Auction</h5>
                    <h1 class="title"><span class="d-xl-block">Find Your</span> Next Deal!</h1>
                    <p>
                        Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.
                    </p>
                    <a href="/auction" class="custom-button yellow btn-large">Get Started</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <div class="banner-thumb-2">
                    <img src="./assets/images/banner/banner-1.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape d-none d-lg-block">
        <img src="./assets/css/img/banner-shape.png" alt="css">
    </div>
</section>


<div class="browse-section ash-bg">
    <div class="browse-slider-section mt--140">
        <div class="container">
            <div class="section-header-2 cl-white mb-4">
                <div class="left">
                    <h6 class="title pl-0 w-100">Browse The Highlights</h6>
                </div>

            </div>
            <div class="m--15">
                <div class="browse-slider owl-theme owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer owl-height" style="height: 233.93px;"><div class="owl-item" style="width: 190px;"><a href="/Vehicle" class="browse-item">
                                <img src="./assets/images/auction/01.png" alt="auction">
                                <span class="info">Vehicles</span>
                            </a></div><div class="owl-item active" style="width: 190px;"><a href="/Jewelry" class="browse-item">
                                <img src="./assets/images/auction/02.png" alt="auction">
                                <span class="info">Jewelry</span>
                            </a></div><div class="owl-item active" style="width: 190px;"><a href="/Watches" class="browse-item">
                                <img src="./assets/images/auction/03.png" alt="auction">
                                <span class="info">Watches</span>
                            </a></div><div class="owl-item active" style="width: 190px;"><a href="/RealEstate" class="browse-item">
                                <img src="./assets/images/auction/06.png" alt="auction">
                                <span class="info">Real Estate</span>
                            </a></div><div class="owl-item active" style="width: 190px;"><a href="/Electronics" class="browse-item">
                                <img src="./assets/images/header-icons/coin-1.png" alt="auction">
                                <span class="info">Coin & Bullion</span>
                            </a></div><div class="owl-item active" style="width: 190px;"><a href="/Electronics" class="browse-item">
                                <img src="./assets/images/auction/04.png" alt="auction">
                                <span class="info">Electronics</span>
                            </a></div></div><div class="owl-thumbs"></div></div>
            </div>
        </div>
    </div>

    <section class="car-auction-section padding-bottom padding-top pos-rel oh">
        <div class="car-bg"><img src="./assets/images/auction/car/car-bg.png" alt="car"></div>
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="thumb">
                        <img src="./assets/images/header-icons/car-1.png" alt="header-icons">
                    </div>
                    <div class="title-area">
                        <h2 class="title">Vehicles</h2>
                        <p>We offer affordable Vehicles</p>
                    </div>
                </div>
                <a href="/Vehicle" class="normal-button">View All</a>
            </div>
            <div class="row justify-content-center mb-30-none">
                <%for(var i=0;i<sql_productTop3.length;i++){ %>
                <div class="col-sm-10 col-md-6 col-lg-4 " id="<%=sql_productTop3[i].ID%>" >
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="/productDetail/ <%= sql_productTop3[i].ID %> " ><img src="<%=sql_productTop3[i].img1%>" alt="car" ></a>
                            <a href="/productDetail/ <%= sql_productTop3[i].ID %> " class="rating"><i class="far fa-star"></i></a>
                            <a href="/productDetail/ <%= sql_productTop3[i].ID %> " class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="#0"><%=sql_productTop3[i].nameProduct%></a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        <div class="amount"><%=sql_productTop3[i].priceCurrent%></div>
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount"><%= sql_productTop3[i].buyNow %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="bid_<%=sql_productTop3[i].ID%>counter">
                                    </div>
                                </div>
                                <span class="total-bids">30 Bids</span>
                            </div>
                            <div class="text-center">
                                <a href="#0" class="custom-button">Submit a bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>

            </div>
        </div>
    </section>

</div>


<section class="jewelry-auction-section padding-bottom padding-top pos-rel">
    <div class="jewelry-bg d-none d-xl-block"><img src="./assets/images/auction/jewelry/jwelry-bg.png" alt="jewelry"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./assets/images/header-icons/coin-1.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Jewelry</h2>
                    <p>Online jewelry auctions where you can bid now and save money</p>
                </div>
            </div>
            <a href="/Jewelry" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            <%for(var i=0;i<sql_JewerlyTop3.length;i++){ %>
            <div class="col-sm-10 col-md-6 col-lg-4 " id="<%=sql_JewerlyTop3[i].ID%>" >
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="/productDetail/ <%= sql_JewerlyTop3[i].ID %> " ><img src="<%=sql_JewerlyTop3[i].img1%>" alt="car" ></a>
                        <a href="/productDetail/ <%= sql_JewerlyTop3[i].ID %> " class="rating"><i class="far fa-star"></i></a>
                        <a href="/productDetail/ <%= sql_JewerlyTop3[i].ID %> " class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="#0"><%=sql_JewerlyTop3[i].nameProduct%></a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=sql_JewerlyTop3[i].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount"><%= sql_JewerlyTop3[i].buyNow %></div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_<%=sql_JewerlyTop3[i].ID%>counter">
                                </div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>

<section class="call-in-section padding-top pt-max-xl-0">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="./assets/images/call-in/call-bg.png" style="background-image: url(&quot;./assets/images/call-in/call-bg.png&quot;);">
            <div class="section-header">
                <h3 class="title">Register for Free &amp; Start Bidding Now!</h3>
                <p>From cars to diamonds to iPhones, we have it all.</p>
            </div>
            <a href="/Sign_Up" class="custom-button white">Register</a>
        </div>
    </div>
</section>

<section class="watches-auction-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./assets/images/auction/03.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Watches</h2>
                    <p>Shop for men &amp; women designer brand watches</p>
                </div>
            </div>
            <a href="/Watches" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            <%for(var i=0;i<sql_WatchesTop3.length;i++){ %>
            <div class="col-sm-10 col-md-6 col-lg-4 " id="<%=sql_WatchesTop3[i].ID%>" >
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="/productDetail/ <%= sql_WatchesTop3[i].ID %> " ><img src="<%=sql_WatchesTop3[i].img1%>" alt="car" ></a>
                        <a href="/productDetail/ <%= sql_WatchesTop3[i].ID %> " class="rating"><i class="far fa-star"></i></a>
                        <a href="/productDetail/ <%= sql_WatchesTop3[i].ID %> " class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="#0"><%=sql_WatchesTop3[i].nameProduct%></a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=sql_WatchesTop3[i].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount"><%= sql_WatchesTop3[i].buyNow %></div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_<%=sql_WatchesTop3[i].ID%>counter">
                                </div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>

<section class="popular-auction padding-top pos-rel">
    <div class="popular-bg bg_img" data-background="./assets/images/auction/popular/popular-bg.png" style="background-image: url(&quot;./assets/images/auction/popular/popular-bg.png&quot;);"></div>
    <div class="container">
        <div class="section-header cl-white">
            <span class="cate">Closing Within 24 Hours</span>
            <h2 class="title">Popular Auctions</h2>
            <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
        </div>
        <div class="popular-auction-wrapper">
            <div class="row justify-content-center mb-30-none">
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[0].ID%>"><img src="<%=products[0].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[0].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[0].ID%>"><%=products[0].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[0].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[6].ID%>"><img src="<%=products[6].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[6].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[6].ID%>"><%=products[6].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[6].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[10].ID%>"><img src="<%=products[10].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[10].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[10].ID%>"><%=products[10].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[10].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[15].ID%>"><img src="<%=products[15].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[15].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[15].ID%>"><%=products[15].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[15].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[20].ID%>"><img src="<%=products[20].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[20].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[20].ID%>"><%=products[20].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[20].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="/productDetail/<%=products[25].ID%>"><img src="<%=products[25].img1%>" alt="popular"></a>
                            <a href="/productDetail/<%=products[25].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="/productDetail/<%=products[25].ID%>"><%=products[25].nameProduct%></a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=products[25].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="coins-and-bullion-auction-section padding-bottom padding-top pos-rel pb-max-xl-0">
    <div class="jewelry-bg d-none d-xl-block"><img src="./assets/images/auction/coins/coin-bg.png" alt="coin"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./assets/images/header-icons/coin-1.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Coins &amp; Bullion</h2>
                    <p>Discover rare, foreign, &amp; ancient coins that are worth collecting</p>
                </div>
            </div>
            <a href="/Coin&Bullion" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            <%for(var i=0;i<sql_CoinBullionTop3.length;i++){ %>
            <div class="col-sm-10 col-md-6 col-lg-4 " id="<%=sql_CoinBullionTop3[i].ID%>" >
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="/productDetail/ <%= sql_CoinBullionTop3[i].ID %> " ><img src="<%=sql_CoinBullionTop3[i].img1%>" alt="car" ></a>
                        <a href="/productDetail/ <%= sql_CoinBullionTop3[i].ID %> " class="rating"><i class="far fa-star"></i></a>
                        <a href="/productDetail/ <%= sql_CoinBullionTop3[i].ID %> " class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="#0"><%=sql_CoinBullionTop3[i].nameProduct%></a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=sql_CoinBullionTop3[i].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount"><%= sql_CoinBullionTop3[i].buyNow %></div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_<%=sql_CoinBullionTop3[i].ID%>counter">
                                </div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>

<section class="real-estate-auction padding-top padding-bottom pos-rel oh">
    <div class="car-bg"><img src="./assets/images/auction/realstate/real-bg.png" alt="realstate"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="/assets/images/auction/06.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Real Estate</h2>
                    <p>Find auctions for Homes, Condos, Residential &amp; Commercial Properties.</p>
                </div>
            </div>
            <a href="/RealEstate" class="normal-button">View All</a>
        </div>
        <div class="auction-slider-4 owl-theme owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer owl-height" style="height: 491.375px;"><div>
                    <div class="owl-item active" style="width: 1110px; margin-right: 30px;"><div class="auction-item-4">
                            <div class="auction-thumb">
                                <a href="/productDetail/<%=products[19].ID%>"><img src="<%=products[19].img2%>" alt="realstate"></a>
                                <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                            </div>
                            <div class="auction-content">
                                <h4 class="title">
                                    <a href="/productDetail/<%=products[19].ID%>"><%=products[19].nameProduct%></a>
                                </h4>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount"><%=products[19].priceCurrent%></div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount"><%=products[19].buyNow%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <div id="bid_<%=products[19].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                    </div>
                                    <span class="total-bids">30 Bids</span>
                                </div>
                                <div class="text-center">
                                    <a href="#0" class="custom-button">Submit a bid</a>
                                </div>
                            </div>
                        </div></div>
                </div></div>
            <div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-thumbs"></div></div>

    </div>
</section>

<section class="art-and-electronics-auction-section padding-top">
    <div class="container">
        <div class="row justify-content-center mb--50">
            <div class="col-xl-6 col-lg-8 mb-50">
                <div class="section-header-2">
                    <div class="left">
                        <div class="thumb">
                            <img src="./assets/images/header-icons/camera-1.png" alt="header-icons">
                        </div>
                        <h2 class="title">Electronics</h2>
                    </div>

                </div>
                <div class="auction-slider-1 owl-carousel owl-theme mb-30-none owl-loaded owl-drag">


                    <div class="owl-stage-outer owl-height" style="height: 935.32px;">
                        <div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item active" style="width: 540px; margin-right: 30px;">
                                <div class="slide-item">
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[20].ID%>"><img src="<%=products[20].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[20].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[20].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[20].ID%>"><%=products[20].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[20].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[20].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[21].ID%>"><img src="<%=products[21].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[21].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[21].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[21].ID%>"><%=products[21].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[21].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[21].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[22].ID%>"><img src="<%=products[22].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[22].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[22].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[22].ID%>"><%=products[22].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[22].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[22].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[23].ID%>"><img src="<%=products[23].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[23].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[23].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[23].ID%>"><%=products[23].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[23].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[23].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>

                                </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
            </div>
            <div class="col-xl-6 col-lg-8 mb-50">
                <div class="section-header-2">
                    <div class="left">
                        <div class="thumb">
                            <img src="./assets/images/header-icons/art-1.png" alt="header-icons">
                        </div>
                        <h2 class="title">Art</h2>
                    </div>

                </div>
                <div class="auction-slider-2 owl-carousel owl-theme mb-30-none owl-loaded owl-drag">

                    <div class="owl-stage-outer owl-height" style="height: 935.32px;">
                        <div class="owl-stage" style="transition: all 0s ease 0s;"><div class="owl-item active" style="width: 540px; margin-right: 30px;"><div class="slide-item">
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[24].ID%>"><img src="<%=products[24].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[24].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[24].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[24].ID%>"><%=products[24].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[24].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[24].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[25].ID%>"><img src="<%=products[25].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[25].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[25].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[25].ID%>"><%=products[25].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[25].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[25].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[26].ID%>"><img src="<%=products[26].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[26].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[26].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[26].ID%>"><%=products[24].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[26].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[26].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="auction-item-1">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[27].ID%>"><img src="<%=products[27].img1%>" alt="electronics"></a>
                                            <a href="/productDetail/<%=products[27].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[27].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[27].ID%>"><%=products[27].nameProduct%></a>
                                            </h6>
                                            <div class="bid-amount">
                                                <div class="icon">
                                                    <i class="flaticon-auction"></i>
                                                </div>
                                                <div class="amount-content">
                                                    <div class="current">Current Bid</div>
                                                    <div class="amount"><%=products[27].priceCurrent%></div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[27].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                        </div>
                                    </div>

                                </div></div></div>
                    </div>
                    <div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
            </div>
        </div>
    </div>
</section>

<section class="how-section padding-top">
    <div class="container">
        <div class="how-wrapper section-bg">
            <div class="section-header text-lg-left">
                <h2 class="title">How it works</h2>
                <p>Easy 3 steps to win</p>
            </div>
            <div class="row justify-content-center mb--40">
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Sign Up</h4>
                            <p>No Credit Card Required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Bid</h4>
                            <p>Bidding is free Only pay if you win</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./assets/images/how/how3.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Win</h4>
                            <p>Fun - Excitement - Great deals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Dont just take our word for it!</h2>
            <p>Our hard work is paying off. Great reviews from amazing customers.</p>
        </div>
        <div class="m--15">
            <div class="client-slider owl-theme owl-carousel owl-loaded owl-drag">



                <div class="owl-stage-outer owl-height" style="height: 251.414px;"><div class="owl-stage" style="transform: translate3d(-1140px, 0px, 0px); transition: all 0s ease 0s; width: 3420px;"><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I can't stop bidding! It's a great way to spend some time and I want everything on The Auctions.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client01.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client02.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client03.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item active" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I can't stop bidding! It's a great way to spend some time and I want everything on The Auctions.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client01.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item active" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client02.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item active" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client03.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client01.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client02.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 380px;"><div class="client-item">
                                <div class="client-content">
                                    <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                                </div>
                                <div class="client-author">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="./assets/images/client/client03.png" alt="client">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#0">Tom Powell</a></h6>
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div></div>
        </div>
    </div>
</section>
<%-include('footer.ejs')%>
<script type="text/javascript">
    var tEnd=[],counDownDate=[],ID=[],x=[],now=[],distance=[],days=[],hours=[],minutes=[],seconds=[];
    var amount=document.querySelectorAll('.amount')
    amount.forEach(function (am){
        var money=am.innerHTML;
        console.log(money)
        (money).toLocaleString('en-US',{
            style:'currency',
            currency: 'USD',
        })
    })
</script>
<%for(var i=0;i<products.length;i++){%>
<script type="text/javascript">
                    //time down
                    // Set the date we're counting down to
                    tEnd[<%-JSON.stringify(products[i].ID)%>] = <%- JSON.stringify(products[i].timeEnd)%> ;
                    counDownDate[<%-JSON.stringify(products[i].ID)%>] = new Date(tEnd[ <%-JSON.stringify(products[i].ID)%> ]).getTime();
                    // Update the count down every 1 second
                    x[<%-JSON.stringify(products[i].ID)%>] = setInterval(function() {
                        // Get today's date and time
                        now[<%-JSON.stringify(products[i].ID)%>] = new Date().getTime();
                        // Find the distance between now and the count down date
                        distance[<%-JSON.stringify(products[i].ID)%>] = counDownDate[<%-JSON.stringify(products[i].ID)%>] - now[<%-JSON.stringify(products[i].ID)%>];
                        // Time calculations for days, hours, minutes and seconds
                        days[<%-JSON.stringify(products[i].ID)%>] = Math.floor(distance[<%-JSON.stringify(products[i].ID)%>] / (1000 * 60 * 60 * 24));
                        hours[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        minutes[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60 * 60)) / (1000 * 60));
                        seconds[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60)) / 1000);
                        // Output the result in an element with id="demo"
                        document.getElementById("bid_<%-JSON.stringify(products[i].ID)%>counter").innerHTML = days[<%-JSON.stringify(products[i].ID)%>] + "d :" + hours[<%-JSON.stringify(products[i].ID)%>] + "h : "
                            + minutes[<%-JSON.stringify(products[i].ID)%>] + " m :" + seconds[<%-JSON.stringify(products[i].ID)%>] + "s  ";
                        // If the count down is over, write some text
                        if (distance[<%-JSON.stringify(products[i].ID)%>] < 0) {
                            clearInterval(x[<%-JSON.stringify(products[i].ID)%>]);
                            document.getElementById("bid_<%-JSON.stringify(products[i].ID)%>counter").innerHTML = "AUCTION ENDED";
                        }
                    }, 1000);
                    //end timedown

                </script>
<%}%>
</body>
</html>