<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MyBids</title>
    <%-include('head.ejs')%>
</head>
<body>
<%- include('header.ejs')%>
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>winning Bids</span>
            </li>
        </ul>
    </div>

    <div class="bg_img hero-bg bottom_center"    style= "background-image:url(assets/images/banner/hero-bg.png)"></div>
</div>
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                    <div class="user">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="assets/images/dashboard/user.png" alt="user">
                            </div>
                            <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                            <input type="file" id="profile-pic" class="d-none">
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="#0">Percy Reed</a></h5>
                            <span class="username"><a href="http://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b2d8dddadcf2d5dfd3dbde9cd1dddf">[email&#160;protected]</a></span>
                        </div>
                    </div>
                    <ul class="dashboard-menu">
                        <li>
                            <a href="/profile"><i class="flaticon-settings"></i>Personal Profile </a>
                        </li>
                        <li>
                            <a href="/Mybids"><i class="flaticon-auction"></i>My Bids</a>
                        </li>
                        <li>
                            <a href="/Winning-Bid" class="active"><i class="flaticon-best-seller"></i>Winning Bids</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="dash-bid-item dashboard-widget mb-40-60">
                    <div class="header">
                        <h4 class="title">My Bids</h4>
                        <span class="notify"><i class="flaticon-alarm"></i> Manage Notifications</span>
                    </div>
                    <ul class="button-area nav nav-tabs">
                        <li>
                            <a href="#upcoming" data-toggle="tab" class="custom-button active">Upcoming</a>
                        </li>
                        <li>
                            <a href="#past" data-toggle="tab" class="custom-button">Past</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="upcoming">
                        <div class="row mb-30-none justify-content-center">
                            <% for (var i=0;i<products.length;i++){%>
                                <div class="col-sm-10 col-md-6">
                                    <div class="auction-item-2">
                                        <div class="auction-thumb">
                                            <a href="/productDetail/<%=products[i].ID%>"><img src="<%=products[i].img1%>" alt="product"></a>
                                            <a href="/productDetail/<%=products[i].ID%>" class="rating"><i class="far fa-star"></i></a>
                                            <a href="/productDetail/<%=products[i].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="/productDetail/<%=products[i].ID%>"><%=products[i].nameProduct%></a>
                                            </h6>
                                            <div class="bid-area">
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-auction"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Current Bid</div>
                                                        <div class="amount convertMoney"><%=products[i].priceCurrent%></div>
                                                    </div>
                                                </div>
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-money"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Buy Now</div>
                                                        <div class="amount convertMoney"><%= products[i].buyNow %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_<%=products[i].ID%>counter">0d  : 10h  : 42m  : 13s</div>
                                                </div>
                                                <span class="total-bids">30 Bids</span>
                                            </div>
                                            <div class="text-center">
                                                <a href="/productDetail/<%=products[i].ID%>" class="custom-button">Submit a bid</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var tEnd=[],counDownDate=[],ID=[],x=[],now=[],distance=[],days=[],hours=[],minutes=[],seconds=[];
</script>
<%for(var i=0;i<products.length;i++){%>
<script type="text/javascript">
    //time down
    // Set the date we're counting down to
    tEnd[<%-JSON.stringify(products[i].ID)%>] = <%- JSON.stringify(products[i].timeEnd)%> ;
    counDownDate[<%-JSON.stringify(products[i].ID)%>] = new Date(tEnd[ <%-JSON.stringify(products[i].ID)%> ]).getTime();
    // Update the count down every 1 second
    x[<%-JSON.stringify(products[i].ID)%>] = setInterval(function() {
        // Get today's date and time
        now[<%-JSON.stringify(products[i].ID)%>] = new Date().getTime();
        // Find the distance between now and the count down date
        distance[<%-JSON.stringify(products[i].ID)%>] = counDownDate[<%-JSON.stringify(products[i].ID)%>] - now[<%-JSON.stringify(products[i].ID)%>];
        // Time calculations for days, hours, minutes and seconds
        days[<%-JSON.stringify(products[i].ID)%>] = Math.floor(distance[<%-JSON.stringify(products[i].ID)%>] / (1000 * 60 * 60 * 24));
        hours[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        minutes[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60 * 60)) / (1000 * 60));
        seconds[<%-JSON.stringify(products[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(products[i].ID)%>] % (1000 * 60)) / 1000);
        // Output the result in an element with id="demo"
        document.getElementById("bid_<%-JSON.stringify(products[i].ID)%>counter").innerHTML = days[<%-JSON.stringify(products[i].ID)%>] + "d :" + hours[<%-JSON.stringify(products[i].ID)%>] + "h : "
            + minutes[<%-JSON.stringify(products[i].ID)%>] + " m :" + seconds[<%-JSON.stringify(products[i].ID)%>] + "s  ";
        // If the count down is over, write some text
        if (distance[<%-JSON.stringify(products[i].ID)%>] < 0) {
            clearInterval(x[<%-JSON.stringify(products[i].ID)%>]);
            document.getElementById("bid_<%-JSON.stringify(products[i].ID)%>counter").innerHTML = "AUCTION ENDED";
        }
    }, 1000);
    //end timedown

</script>
<%}%>
<%-include('footer.ejs')%>
</body>
</html>
